<section>
  <aside>
    <ul id="home" class="nav nav-list">
      <li>
        <a href="#"><i class="fa fa-home"></i> Home</a>
      </li>
      <li class="separator"></li>
    </ul>

    <div id="genres"></div>
    <div id="ratings"></div>

    <div class="thank-you">
      Data courtesy of <a href="https://www.imdb.com/">imdb.com</a>
    </div>
  </aside>

  <article>
    <div id="stats" class="text-right text-muted"></div>
    <hr />
    <div id="hits"></div>
    <div id="pagination" class="text-center"></div>
  </article>
</section>
